.resume-page {
    height: 100vh;
    /* есть баг с тем, что два колеса прокрутки справа*/

    overflow-y: auto;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section-rail {
    position: fixed;

    display: flex;
    flex-direction: column;

    z-index: 10;

    gap: 100px;
    left: 48px;
    top: 50%;

    transform: translateY(-50%);
}

    .section-rail__item {
        width: 100px;
        height: 4px;

        background: rgba(255, 255, 255, 0.35);
    }

        .section-rail__item--active {
            width: 140px;
            height: 6px;

            background: rgba(255, 255, 255, 1);
        }


.resume-section {
    display: flex;

    padding: 50px 100px;
    padding-left: 225px;

    min-height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}