/* /Components/ActivityBar/SolutionExplorer/VsProjectTreeItem.razor.rz.scp.css */
/* CSS for VsProjectTreeNode component */


.vs-project-tree-node-root[b-eincok09fq] {
    flex: 1;
    min-width: 100%;
    width: max-content;
}

    .vs-project-tree-node-head[b-eincok09fq] {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;  

        padding: 0 50px;

        border-radius: var(--mud-default-borderradius);
    }

        .vs-project-tree-node-head:hover[b-eincok09fq] {
            background-color: var(--mud-palette-action-disabled);
        }

        .vs-project-tree-node-head-expand[b-eincok09fq] {
            display: flex;
            justify-content: center;
            align-items: center;  

            width: 20px;

            flex-shrink: 0;
        }

        .vs-project-tree-node-head-icon[b-eincok09fq] {
            display: flex;
            justify-content: center;
            align-items: center;  

            padding: 5px;

            flex-shrink: 0;
        }

        /* TODO косяк с тем, что кликать для открытия нужно именно по тексту (это сделано специально, чтобы кнопки expand активными оставались)
            однако, после content идёт большое пустое простанство, которое не кликаблильно, а надо сделать его кликабильным.
            Также надо сделать открытие по двум кликам, а не по одному.
        */

        .vs-project-tree-node-head-content[b-eincok09fq] {

        }   

            .vs-project-tree-node-head-content span[b-eincok09fq] {
                overflow: hidden;

                white-space: nowrap;
                text-overflow: ellipsis;
            }

    .vs-project-tree-node-child[b-eincok09fq] {
        
    }
/* /Components/ActivityBar/VsActivityBar.razor.rz.scp.css */
/* CSS for VsActivityBar component */

.vs-activitybar-root[b-tmguwu5zve] {
    display: flex;

    padding: 0px;

    flex-shrink: 0;
}
/* /Components/ActivityBar/VsActivityBarButton.razor.rz.scp.css */
/* CSS for VsActivityBarButton component */

.vs-activitybar-btn[b-hte1maj3s4] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5px;

    width: 30px;
    min-height: 30px;

    writing-mode: vertical-rl;

    box-sizing: border-box;

    cursor: pointer;

    border-right: 5px solid var(--mud-palette-surface);
/*    border-radius: var(--mud-default-borderradius);*/
}

    .vs-activitybar-btn:hover[b-hte1maj3s4] {
        border-right: 5px solid var(--mud-palette-primary);
    }
/* /Components/ActivityBar/VsActivityBarPanel.razor.rz.scp.css */
/* CSS for VsSolutionExplorerPanel component */


.vs-activitybar-panel-root[b-3w1rlpyva2] {
    position: absolute;
    top: 0;
    right: 30px;

    display: flex;
    flex-direction: column;

    width: 300px;
    height: 100%;
    min-width: 0;

    overflow: hidden;

    background: var(--mud-palette-surface);

    border: 1px solid var(--mud-palette-primary);
    border-radius: var(--mud-default-borderradius);

    box-shadow: -5px 0 0 2.5px var(--mud-palette-background);

    z-index: 10;
}

    .vs-activitybar-panel-header[b-3w1rlpyva2] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-shrink: 0; 

        padding: 5px 10px;

        background: var(--mud-palette-surface);
    }

    .vs-activitybar-panel-content[b-3w1rlpyva2] {
        position: relative;

        flex: 1;
        width: 100%;
        height: 100%;

        padding: 5px 10px;

        box-sizing: padding-box;

        overflow: auto;
    }
/* /Components/Common/Menu/VsMenu.razor.rz.scp.css */
/* CSS for VsMenu component */

.vs-menu-root[b-qif7kzqyns] {
    position: relative;
    display: inline-block;

    margin: 0 5px;
    padding: 5px 10px;

    font-size: 15px;
    font-weight: 300;
    color: white;

    border-radius: var(--mud-default-borderradius);
}

    .vs-menu-root:hover[b-qif7kzqyns] {
        background-color: var(--mud-palette-surface);
    }

    /*TODO надо сделать, чтобы когда меню было активно (содержимое dropdown открыто), то стиль был такой же как и у :hover*/

.vs-menu-label[b-qif7kzqyns] {

}

.vs-menu-dropdown[b-qif7kzqyns] {
    position: absolute;
/*    top: 0;*/
    left: 0;

    min-width: 200px;
    margin-top: 10px;
    padding: 5px;

    font-size: 12px;

    background-color: var(--mud-palette-surface);
        
    border-radius: var(--mud-default-borderradius);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);

    z-index: 999;
}
/* /Components/Common/Menu/VsMenuItem.razor.rz.scp.css */
/* CSS for VsMenuItem component */

.vs-menu-item-root[b-ufyt7likc9] {
    display: inline-flex;
    align-items: center;

    width: stretch;

    padding: 5px 10px;

    border-radius: var(--mud-default-borderradius);
}

    .vs-menu-item-root:hover[b-ufyt7likc9] {
        background-color: var(--mud-palette-action-disabled);
    }

[b-ufyt7likc9] .vs-menu-item-icon {
    margin-right: 10px;
    padding: 2px;
}

.vs-menu-item-text[b-ufyt7likc9] {
    text-wrap: nowrap;
}
/* /Components/TabsBar/VsTabsBar.razor.rz.scp.css */
/* CSS for VsTabsBar component */


.vs-tabsbar-root[b-or0vghqh6p] {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    min-height: 30px;

    background: var(--mud-palette-surface);

    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);

    z-index: 2;
}

    .vs-tabsbar-tab[b-or0vghqh6p] {
        display: flex;
        align-items: center;

        font-size: 13px;
        color: var(--mud-palette-text-secondary);

        text-decoration: none;
    }

        .vs-tabsbar-tab:hover[b-or0vghqh6p] {
            background-color: var(--mud-palette-gray-light);
            border-radius: var(--mud-default-borderradius);
        }


        .vs-tabsbar-tab.active[b-or0vghqh6p] {
            margin-bottom: -1px;

            color: var(--mud-palette-white);

            font-weight: 600;

            border: 1px solid var(--mud-palette-primary);
            border-bottom: 2px solid var(--mud-palette-surface);
    
            border-top-left-radius: var(--mud-default-borderradius);
            border-top-right-radius: var(--mud-default-borderradius);
    
            z-index: 3;
        }

            .vs-tabsbar-tab.active:hover[b-or0vghqh6p] {
                background-color: var(--mud-palette-surface);

                border-radius: 0;
                border-top-left-radius: var(--mud-default-borderradius);
                border-top-right-radius: var(--mud-default-borderradius);
            }

            .vs-tabsbar-tab.active *[b-or0vghqh6p] {
                visibility: visible;
            }



        .vs-tabsbar-tab-content[b-or0vghqh6p] {
            padding: 5px 10px; 
        }

        .vs-tabsbar-tab-pin[b-or0vghqh6p] {
            display: flex;
            align-items: center;

            visibility: hidden;

            width: stretch;
            height: stretch;

            padding: 5px 10px;   
        }

            .vs-tabsbar-tab-pin:hover[b-or0vghqh6p] {
                background-color: var(--mud-palette-action-disabled);
                border-radius: var(--mud-default-borderradius);
            }

            .vs-tabsbar-tab:hover .vs-tabsbar-tab-pin[b-or0vghqh6p] {
                visibility: visible;
            }

        .vs-tabsbar-tab-close[b-or0vghqh6p] {
            display: flex;
            align-items: center;

            visibility: hidden;

            width: stretch;
            height: stretch;

            padding: 5px 10px;   
        }

            .vs-tabsbar-tab-close:hover[b-or0vghqh6p] {
                background-color: var(--mud-palette-action-disabled);
                border-radius: var(--mud-default-borderradius);
            }

            .vs-tabsbar-tab:hover .vs-tabsbar-tab-close[b-or0vghqh6p] {
                visibility: visible;
            }
/* /Components/ToolBar/VsToolbar.razor.rz.scp.css */
/* CSS for VsToolbar component */


.vs-toolbar[b-zfa69zytfz] {
    display: flex;
    flex-direction: row;

    width: fit-content;

    padding: 3px;

    color: var(--mud-pallete-textprimary);

    background: var(--mud-palette-surface);

    border: 1px solid rgb(0, 0, 0);
    border-left-width: 4px;
    border-radius: var(--mud-default-borderradius);
}
/* /Components/ToolBar/VsToolbarButton.razor.rz.scp.css */
/* CSS for VsIconButton component */

.vs-toolbar-btn[b-07gfddklsg] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 30px;
    height: 30px;

    padding: 1px;
    margin: 0 5px;

    box-sizing: border-box;

    cursor: pointer;

    border-radius: var(--mud-default-borderradius);
}

    .vs-toolbar-btn:hover[b-07gfddklsg] {
        background-color: var(--mud-palette-action-disabled);
    }

.vs-toolbar-text[b-07gfddklsg] {
    padding: 5px
}
/* /Components/VsCodeEditor.razor.rz.scp.css */
/* CSS for VsCodeEditor component */

/* TODO надо шрифт сюда подходящий */
.vs-editor-root[b-qsmi0xrggo] {
    display: inline-block;
    position: relative;

    min-width: 100%;
    min-height: 100%;

    user-select: none;
}


.vs-editor-gutter[b-qsmi0xrggo] {
    position: absolute;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    z-index: 3;
    pointer-events: none;
}

    .vs-editor-gutter-line[b-qsmi0xrggo] {
        position: sticky;
        left: 0;

        width: 60px;
        line-height: 20px;

        flex-shrink: 0;

        padding-right: 20px;

        text-align: right;
        box-sizing: border-box;

        color: var(--mud-palette-text-secondary);

        background-color: var(--mud-palette-background);
    }   

        .vs-editor-highlighter-line:hover .vs-editor-gutter-line[b-qsmi0xrggo] {
            color: var(--mud-palette-text-primary);
            background-color: var(--mud-palette-surface);

            box-shadow: inset 3px 0 0 0 var(--mud-palette-primary);
        }


.vs-editor-highlighter[b-qsmi0xrggo] {
    position: absolute  ;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    z-index: 1;
}

    .vs-editor-highlighter-line[b-qsmi0xrggo] {
        width: 100%;
        line-height: 20px;
    }

        .vs-editor-highlighter-line:hover[b-qsmi0xrggo] {
            background-color: var(--mud-palette-surface);
        }


.vs-editor-content[b-qsmi0xrggo] {
    position: relative;

    margin-left: 60px;

    pointer-events: none;
    z-index: 2;
}



[b-qsmi0xrggo] .vs-editor-content > div {
    background-color: transparent !important;
}

[b-qsmi0xrggo] .vs-editor-content pre {
    margin: 0 !important;
    padding: 0 !important;

    line-height: 20px !important;

    background: transparent !important;
}

    [b-qsmi0xrggo] .vs-editor-content pre code {
        line-height: 20px !important;
    }
/* /Pages/Home.razor.rz.scp.css */
/* CSS for Home component */


.vs-window[b-i8ybeye7gv] {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    padding: 10px 5px 10px 10px;

    height: 100vh;
    width: 100vw;

    color: #d4d4d4;

    background-color: #1e1e1e;
    user-select: none;
}


.vs-header[b-i8ybeye7gv] {
    flex-shrink: 0;
        
    background: var(--mud-palette-background);
}

.vs-titlebar[b-i8ybeye7gv] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 10px;

    font-size: 12px;
}

    .vs-titlebar-left[b-i8ybeye7gv] {
        display: inline-flex;
        align-items: center;
    }

        .vs-menu-list[b-i8ybeye7gv] {

        }

        .vs-solution-name[b-i8ybeye7gv] {
            padding: 5px 10px;

            color: var(--mud-palette-textprimary);

            background: var(--mud-palette-surface);

            border: 1px solid rgb(0, 0, 0);
            border-radius: var(--mud-default-borderradius);
        }

        [b-i8ybeye7gv] .vs-close-btn {
            margin-left: auto;
        }



.vs-toolbars[b-i8ybeye7gv] {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 20px;
}
    
    [b-i8ybeye7gv] .vs-toolbar {
        margin-right: 5px;
    }


.vs-workbench[b-i8ybeye7gv] {
    position: relative;
    display: flex;
    flex-direction: row;

    margin-bottom: 5px;

    flex: 1;
    min-width: 0;
    min-height: 0;

    overflow: hidden;
}


    .vs-editor-viewport[b-i8ybeye7gv] {
        position: relative;
        display: flex;
        flex-direction: column;

        flex: 1;
        width: 100%;
        height: 100%;

        box-sizing: padding-box;
    }

    
        .vs-tabsbar[b-i8ybeye7gv] {
            position: relative;

            z-index: 2;
        }


        .vs-editor-content[b-i8ybeye7gv] {
            position: relative;

            flex: 1;
            width: 100%;
            height: 100%;

            overflow-y: auto;
            overflow-x: auto;

            user-select: text;

            border: 1px solid var(--mud-palette-primary);

            border-bottom-left-radius: var(--mud-default-borderradius);
            border-bottom-right-radius: var(--mud-default-borderradius);
        }

    .vs-activitybar[b-i8ybeye7gv] {
        flex-shrink: 0;
    }


.vs-statusbar[b-i8ybeye7gv] {
    height: 24px;
    background-color: #854cc7;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
    flex-shrink: 0;
}

.vs-footer[b-i8ybeye7gv] {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.vs-footer-status-left[b-i8ybeye7gv], .vs-footer-status-right[b-i8ybeye7gv] {
    display: flex;
    gap: 16px;
}
