/* /Components/ActivityBar/VsActivityBar.razor.rz.scp.css */
/* CSS for VsActivityBar component */

.vs-activitybar-root[b-tmguwu5zve] {
    display: flex;

    padding: 0px;

    flex-shrink: 0;
}
/* /Components/ActivityBar/VsActivityBarButton.razor.rz.scp.css */
/* CSS for VsActivityBarButton component */

.vs-activitybar-btn[b-hte1maj3s4] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5px;

    width: 30px;
    min-height: 30px;

    writing-mode: vertical-rl;

    box-sizing: border-box;

    cursor: pointer;

    border-right: 5px solid var(--mud-palette-surface);
/*    border-radius: var(--mud-default-borderradius);*/
}

    .vs-activitybar-btn:hover[b-hte1maj3s4] {
        border-right: 5px solid var(--mud-palette-primary);
    }
/* /Components/ActivityBar/VsActivityBarPanel.razor.rz.scp.css */
/* CSS for VsSolutionExplorerPanel component */


.vs-activitybar-panel-root[b-3w1rlpyva2] {
    position: absolute;
    top: 0;
    right: 30px;

    display: flex;
    flex-direction: column;

    width: 280px;
    height: 100%;

    overflow: hidden;

    background: var(--mud-palette-surface);

    border: 1px solid var(--mud-palette-primary);
    border-radius: var(--mud-default-borderradius);

    box-shadow: -5px 0 0 2.5px var(--mud-palette-background);

    z-index: 10;
}

    .vs-activitybar-panel-header[b-3w1rlpyva2] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-shrink: 0; 

        padding: 5px 10px;

        background: var(--mud-palette-surface);
    }

    .vs-activitybar-panel-content[b-3w1rlpyva2] {
        position: relative;

        flex: 1;
        width: 100%;
        height: 100%;

        padding: 5px 10px;

        box-sizing: padding-box;

        overflow: auto;
    }
/* /Components/VsCodeEditor.razor.rz.scp.css */
/* CSS for VsCodeEditor component */

/* TODO надо шрифт сюда подходящий */
.vs-editor-root[b-qsmi0xrggo] {
    display: inline-block;
    position: relative;

    min-width: 100%;
    min-height: 100%;

    user-select: none;
}


.vs-editor-gutter[b-qsmi0xrggo] {
    position: absolute;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    z-index: 3;
    pointer-events: none;
}

    .vs-editor-gutter-line[b-qsmi0xrggo] {
        position: sticky;
        left: 0;

        width: 60px;
        line-height: 20px;

        flex-shrink: 0;

        padding-right: 20px;

        text-align: right;
        box-sizing: border-box;

        color: var(--mud-palette-text-secondary);

        background-color: var(--mud-palette-background);
    }   

        .vs-editor-highlighter-line:hover .vs-editor-gutter-line[b-qsmi0xrggo] {
            color: var(--mud-palette-text-primary);
            background-color: var(--mud-palette-surface);

            box-shadow: inset 3px 0 0 0 var(--mud-palette-primary);
        }


.vs-editor-highlighter[b-qsmi0xrggo] {
    position: absolute  ;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    z-index: 1;
}

    .vs-editor-highlighter-line[b-qsmi0xrggo] {
        width: 100%;
        line-height: 20px;
    }

        .vs-editor-highlighter-line:hover[b-qsmi0xrggo] {
            background-color: var(--mud-palette-surface);
        }


.vs-editor-content[b-qsmi0xrggo] {
    position: relative;

    margin-left: 60px;

    pointer-events: none;
    z-index: 2;
}



[b-qsmi0xrggo] .vs-editor-content > div {
    background-color: transparent !important;
}

[b-qsmi0xrggo] .vs-editor-content pre {
    margin: 0 !important;
    padding: 0 !important;

    line-height: 20px !important;

    background: transparent !important;
}

    [b-qsmi0xrggo] .vs-editor-content pre code {
        line-height: 20px !important;
    }
/* /Components/VsMenu.razor.rz.scp.css */
/* CSS for VsMenu component */

.vs-menu-root[b-sdoda66hoy] {
    position: relative;
    display: inline-block;

    margin: 0 5px;
    padding: 5px 10px;

    font-size: 15px;
    font-weight: 300;
    color: white;

    border-radius: var(--mud-default-borderradius);
}

    .vs-menu-root:hover[b-sdoda66hoy] {
        background-color: var(--mud-palette-surface);
    }

    /*TODO надо сделать, чтобы когда меню было активно (содержимое dropdown открыто), то стиль был такой же как и у :hover*/

.vs-menu-label[b-sdoda66hoy] {

}

.vs-menu-dropdown[b-sdoda66hoy] {
    position: absolute;
/*    top: 0;*/
    left: 0;

    min-width: 200px;
    margin-top: 10px;
    padding: 5px;

    font-size: 12px;

    background-color: var(--mud-palette-surface);
        
    border-radius: var(--mud-default-borderradius);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);

    z-index: 999;
}
/* /Components/VsMenuItem.razor.rz.scp.css */
/* CSS for VsMenuItem component */

.vs-menu-item-root[b-tzfqst5hpt] {
    display: inline-flex;
    align-items: center;

    width: stretch;

    padding: 5px 10px;

    border-radius: var(--mud-default-borderradius);
}

    .vs-menu-item-root:hover[b-tzfqst5hpt] {
        background-color: var(--mud-palette-action-disabled);
    }

[b-tzfqst5hpt] .vs-menu-item-icon {
    margin-right: 10px;
    padding: 2px;
}

.vs-menu-item-text[b-tzfqst5hpt] {
    text-wrap: nowrap;
}
/* /Components/VsToolbar.razor.rz.scp.css */
/* CSS for VsToolbar component */


.vs-toolbar[b-j875o60wic] {
    display: flex;
    flex-direction: row;

    width: fit-content;

    padding: 3px;

    color: var(--mud-pallete-textprimary);

    background: var(--mud-palette-surface);

    border: 1px solid rgb(0, 0, 0);
    border-left-width: 4px;
    border-radius: var(--mud-default-borderradius);
}
/* /Components/VsToolbarButton.razor.rz.scp.css */
/* CSS for VsIconButton component */

.vs-toolbar-btn[b-ienoxxvqq9] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 30px;
    height: 30px;

    padding: 1px;
    margin: 0 5px;

    box-sizing: border-box;

    cursor: pointer;

    border-radius: var(--mud-default-borderradius);
}

    .vs-toolbar-btn:hover[b-ienoxxvqq9] {
        background-color: var(--mud-palette-action-disabled);
    }

.vs-toolbar-text[b-ienoxxvqq9] {
    padding: 5px
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-i4x3zxr084] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-i4x3zxr084] {
    flex: 1;
}

.sidebar[b-i4x3zxr084] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-i4x3zxr084] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-i4x3zxr084]  a, .top-row[b-i4x3zxr084]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-i4x3zxr084]  a:hover, .top-row[b-i4x3zxr084]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-i4x3zxr084]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-i4x3zxr084] {
        justify-content: space-between;
    }

    .top-row[b-i4x3zxr084]  a, .top-row[b-i4x3zxr084]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-i4x3zxr084] {
        flex-direction: row;
    }

    .sidebar[b-i4x3zxr084] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-i4x3zxr084] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-i4x3zxr084]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-i4x3zxr084], article[b-i4x3zxr084] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


/* styles */

.vs-window[b-i4x3zxr084] {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    padding: 0 5px 10px 10px;

    height: 100vh;
    width: 100vw;

    color: #d4d4d4;

    background-color: #1e1e1e;
    user-select: none;
}


.vs-header[b-i4x3zxr084] {
    flex-shrink: 0;
        
    background: var(--mud-palette-background);
}

.vs-titlebar[b-i4x3zxr084] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 10px;

    font-size: 12px;
}

    .vs-titlebar-left[b-i4x3zxr084] {
        display: inline-flex;
        align-items: center;
    }

        .vs-menu-list[b-i4x3zxr084] {

        }

        .vs-solution-name[b-i4x3zxr084] {
            padding: 5px 10px;

            color: var(--mud-palette-textprimary);

            background: var(--mud-palette-surface);

            border: 1px solid rgb(0, 0, 0);
            border-radius: var(--mud-default-borderradius);
        }

        [b-i4x3zxr084] .vs-close-btn {
            margin-left: auto;
        }



.vs-toolbars[b-i4x3zxr084] {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 20px;
}
    
    [b-i4x3zxr084] .vs-toolbar {
        margin-right: 5px;
    }


.vs-workbench[b-i4x3zxr084] {
    position: relative;
    display: flex;
    flex-direction: row;

    margin-bottom: 5px;

    flex: 1;
    min-width: 0;
    min-height: 0;

    overflow: hidden;
}


    .vs-editor-viewport[b-i4x3zxr084] {
        position: relative;
        display: flex;
        flex-direction: column;

        flex: 1;
        width: 100%;
        height: 100%;

        box-sizing: padding-box;
    }

    
        .vs-tabsbar[b-i4x3zxr084] {
            position: relative;
            display: flex;
            flex-wrap: wrap;

            background: var(--mud-palette-surface);

            border-top-left-radius: var(--mud-default-borderradius);
            border-top-right-radius: var(--mud-default-borderradius);

            z-index: 2;
        }

        [b-i4x3zxr084] .vs-tab {
            display: flex;
            align-items: center;

            padding: 6px 14px;

            font-size: 13px;
            color: var(--mud-palette-text-secondary);

            text-decoration: none;
        }

            [b-i4x3zxr084] .vs-tab.active {
                margin-bottom: -1px;

                color: var(--mud-palette-white);

                font-weight: 600;

                border: 1px solid var(--mud-palette-primary);
                border-bottom: 2px solid var(--mud-palette-surface);
    
                border-top-left-radius: var(--mud-default-borderradius);
                border-top-right-radius: var(--mud-default-borderradius);
    
                z-index: 10;
            }


        .vs-editor-content[b-i4x3zxr084] {
            position: relative;

            flex: 1;
            width: 100%;
            height: 100%;

            overflow-y: auto;
            overflow-x: auto;

            user-select: text;

            border: 1px solid var(--mud-palette-primary);

            border-bottom-left-radius: var(--mud-default-borderradius);
            border-bottom-right-radius: var(--mud-default-borderradius);
        }

    .vs-activitybar[b-i4x3zxr084] {
        flex-shrink: 0;
    }


.vs-statusbar[b-i4x3zxr084] {
    height: 24px;
    background-color: #854cc7;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
    flex-shrink: 0;
}

.vs-footer[b-i4x3zxr084] {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.vs-footer-status-left[b-i4x3zxr084], .vs-footer-status-right[b-i4x3zxr084] {
    display: flex;
    gap: 16px;
}
/* /Pages/About.razor.rz.scp.css */
/* CSS for AboutSection component */
/* /Pages/Contacts.razor.rz.scp.css */
/* CSS for ContactsSection component */
/* /Pages/Home.razor.rz.scp.css */
/* CSS for Home component */
/* /Pages/Projects.razor.rz.scp.css */
/* CSS for ProjectsSection component */
/* /Pages/Stack.razor.rz.scp.css */
/* CSS for StackSection component */
