@using PhilippWebsite.Models

<div class="section-content about-section" style="padding: 50px; background-color: rgb(26, 26, 55); border-radius: 50px">
    <MudText Typo="Typo.h1" Color="Color.Surface" GutterBottom="true">@Content.Title</MudText>
    
    <MudDivider Class="border-width-2" />

    <MudText Typo="Typo.h3" GutterBottom="true">@Content.Paragraphs[0]</MudText>

    @foreach (var paragraph in Content.Paragraphs.Skip(1))
    {
        <p><MudText Typo="Typo.h4" GutterBottom="true">@paragraph</MudText></p>
    }
</div>

@code {
    [Parameter]
    public required AboutContent Content { get; set; }
}