@page "/about"

<PageTitle>About me</PageTitle>

<div class="section-content about-section">
    <MudText Typo="Typo.h1" GutterBottom="true">About me</MudText>

    <MudText Typo="Typo.h6" GutterBottom="true">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis orci est. Vivamus euismod, ipsum id consequat ultrices, massa diam maximus ligula, id lacinia quam risus sit amet tellus. In laoreet sodales diam in vehicula. Fusce finibus eleifend nibh, a ultrices nibh ultrices at. Aenean finibus nisl in risus ullamcorper, vitae dictum lectus efficitur. Cras vestibulum mauris eu egestas condimentum. Praesent vel orci fringilla, sagittis urna ac, sodales ante. Nam arcu libero, imperdiet eget consectetur a, tincidunt quis magna. Aenean ac sodales justo. Duis sed semper ante. Vestibulum id ullamcorper tortor. Fusce ultrices, sapien nec tincidunt fermentum, enim urna consectetur orci, ut dictum massa erat nec ligula. Quisque viverra at turpis sed luctus. Sed pharetra felis non odio interdum fermentum. Suspendisse dui metus, maximus dictum condimentum quis, euismod ac velit. Ut aliquam dignissim metus id accumsan.
        Duis hendrerit ultricies velit, at ornare quam euismod nec. Pellentesque ut mi vitae tortor consequat aliquet. Pellentesque consectetur dapibus convallis. Suspendisse pharetra est id erat luctus suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla neque felis, tincidunt in imperdiet vitae, varius elementum ligula. Nam varius pretium augue accumsan posuere. Mauris et turpis leo. Nunc pulvinar dolor posuere nisi euismod laoreet. Nunc pellentesque tortor augue, vel lobortis ex tincidunt sed. Suspendisse dignissim erat erat, sed congue dolor posuere eu.
        Duis mi arcu, placerat at auctor sed, dictum in arcu. Nullam vel tortor purus. Praesent ornare sagittis arcu non gravida. Donec sed urna dui. Maecenas et lacinia nulla. Fusce sagittis tempor justo, eu porttitor tortor faucibus vel. Fusce dapibus rhoncus ligula, ac bibendum nunc tincidunt sit amet. Maecenas maximus ultricies finibus.
        In porta arcu a turpis varius luctus. Sed id justo id tortor consequat viverra. Donec odio diam, vulputate ac ligula eu, dignissim porta urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Donec non sapien a orci imperdiet iaculis. Morbi eleifend gravida risus, sed dapibus nisl porttitor et. Nulla at augue accumsan justo porttitor lobortis. Morbi venenatis et odio in pharetra. Fusce ornare et purus vitae euismod. Phasellus lobortis lectus a mauris aliquet eleifend. Nam ac dictum mauris, condimentum vulputate orci. Fusce scelerisque metus a purus hendrerit facilisis.
        Donec nec elementum dui, nec eleifend neque. Suspendisse porttitor facilisis condimentum. Pellentesque eu lorem eu nibh pellentesque lacinia at eget odio. Aenean viverra nec ipsum id consectetur. Nunc pharetra, eros quis fringilla venenatis, ligula ipsum malesuada erat, nec aliquam neque risus vitae ex. Maecenas sit amet velit tempus, eleifend lectus vitae, interdum nibh. Duis quis nulla venenatis, hendrerit velit ut, ullamcorper velit. Vestibulum a convallis erat. Vivamus ut congue augue. Praesent ultricies nibh ex, eu venenatis metus finibus a. Donec mollis ligula euismod turpis pharetra, sed finibus metus viverra.
    </MudText>
</div>

@code {

}
