@using PhilippWebsite.Models

<div>
    <MudText Typo="Typo.h1" GutterBottom="true">Contacts</MudText>

    <MudText Typo="Typo.h6" GutterBottom="true">secret info</MudText>
</div>

@code {
    [Parameter]
    public required ContactsContent Content { get; set; }
}
