@page "/projects"

<PageTitle>My projects</PageTitle>

<div>
    <MudText Typo="Typo.h1" GutterBottom="true">Projects</MudText>

    <MudText Typo="Typo.h6" GutterBottom="true">nothing :(</MudText>
</div>

@code {

}
