@page "/stack"

<PageTitle>Stack</PageTitle>

<div>
    <MudText Typo="Typo.h1" GutterBottom="true">My stack</MudText>

    <MudImage Src="images/stock.png" Width="400"></MudImage>
</div>


@code {

}
