
<nav class="section-rail">
    <a class="section-rail__item@(this.ActiveSection == "about" ? "--active" : "")" Href="#about"></a>
    <a class="section-rail__item@(this.ActiveSection == "stack" ? "--active" : "")" Href="#stack"></a>
    <a class="section-rail__item@(this.ActiveSection == "projects" ? "--active" : "")" Href="#projects"></a>
    <a class="section-rail__item@(this.ActiveSection == "contacts" ? "--active" : "")" Href="#contacts"></a>
</nav>


@code {
    [Parameter]
    public required string ActiveSection { get; set; } = "about";
}
