/* CSS for VsCodeEditor component */

/* TODO надо шрифт сюда подходящий */
.vs-editor-root {
    display: inline-block;
    position: relative;

    min-width: 100%;
    min-height: 100%;

    user-select: none;
}


.vs-editor-gutter {
    position: absolute;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    z-index: 3;
    pointer-events: none;
}

    .vs-editor-gutter-line {
        position: sticky;
        left: 0;

        width: 60px;
        line-height: 20px;

        flex-shrink: 0;

        padding-right: 20px;

        text-align: right;
        box-sizing: border-box;

        color: var(--mud-palette-text-secondary);

        background-color: var(--mud-palette-background);
    }   

        .vs-editor-highlighter-line:hover .vs-editor-gutter-line {
            color: var(--mud-palette-text-primary);
            background-color: var(--mud-palette-surface);

            box-shadow: inset 3px 0 0 0 var(--mud-palette-primary);
        }


.vs-editor-highlighter {
    position: absolute  ;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    z-index: 1;
}

    .vs-editor-highlighter-line {
        width: 100%;
        line-height: 20px;
    }

        .vs-editor-highlighter-line:hover {
            background-color: var(--mud-palette-surface);
        }


.vs-editor-content {
    position: relative;

    margin-left: 60px;

    pointer-events: none;
    z-index: 2;
}



::deep .vs-editor-content > div {
    background-color: transparent !important;
}

::deep .vs-editor-content pre {
    margin: 0 !important;
    padding: 0 !important;

    line-height: 20px !important;

    background: transparent !important;
}

    ::deep .vs-editor-content pre code {
        line-height: 20px !important;
    }