@page "/"

@using PhilippWebsite.Components
@using PhilippWebsite.Components.Sections


<main class="resume-page">
    <SectionRail/>

    <section id="about" class="resume-section">
        <AboutSection />
    </section>

    <section id="stack" class="resume-section">
        <StackSection />
    </section>

    <section id="projects" class="resume-section">
        <ProjectsSection />
    </section>

    <section id="contacts" class="resume-section">
        <ContactsSection />
    </section>
</main>


@code {

}
