/* CSS for Home component */

.grid-background {
    position: fixed;
    inset: 0;

    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1.5px, transparent 1.5px);
    background-size: 24px 24px;

    pointer-events: none;
    z-index: 0;
/*    animation: drift 2s linear infinite;*/
}

    @keyframes drift {
        from { background-position: 0 0; }
        to { background-position: 24px 24px; }
    }


.scroll-container {
    position: relative;
    height: 100vh;

    overflow-y: auto;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

.content-wrapper {
    padding-left: 120px;
}

.resume-section {
    display: flex;
    align-items: center;

    padding: 40px 100px;

    min-height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}